{% from 'roles/confluent.common/macros/sasl.j2' import sasl_krb5 %}
// Specifies a unique keytab and principal name for each broker
KafkaServer {
    {{ sasl_krb5(kerberos.keytab_dir, kafka_broker_kerberos_keytab_path, kafka_broker_kerberos_principal, '') }}
};

// ZooKeeper client authentication
Client {
    {{ sasl_krb5(kerberos.keytab_dir, kafka_broker_kerberos_keytab_path, kafka_broker_kerberos_principal, '') }}
};
