{% macro sasl_krb5(keytab_dir, keytab_path, principal, line_continuation='\\') %}
com.sun.security.auth.module.Krb5LoginModule required {{line_continuation}}
useKeyTab=true {{line_continuation}}
storeKey=true {{line_continuation}}
keyTab="{{keytab_dir}}/{{keytab_path | basename}}" {{line_continuation}}
principal="{{principal}}";
{% endmacro %}

{% macro sasl_scram(username, password) %}
org.apache.kafka.common.security.scram.ScramLoginModule required username="{{username}}" password="{{password}}";
{% endmacro %}

{% macro sasl_plain(username, password) %}
org.apache.kafka.common.security.plain.PlainLoginModule required username="{{username}}" password="{{password}}";
{% endmacro %}

{% macro sasl_scram_user(user) %}
{{ sasl_scram(user.principal, user.password) }}
{% endmacro %}

{% macro sasl_plain_user(user) %}
{{ sasl_plain(user.principal, user.password) }}
{% endmacro %}
