# Maintained by Ansible
{% from './roles/confluent.common/macros/sasl.j2' import sasl_krb5, sasl_plain, sasl_scram, sasl_plain_user, sasl_scram_user %}
{% from './roles/confluent.common/macros/connectstring.j2' import join_string, connection_string, connection_string_protocol %}
{% for key, value in schema_registry.properties.items() %}
{{key}}={{value}}
{% endfor %}

# Schema Registry Configuration
listeners={{schema_registry_http_protocol}}://0.0.0.0:{{schema_registry_listener_port}}
host.name={{inventory_hostname}}
inter.instance.protocol={{schema_registry_http_protocol}}
{% if schema_registry_ssl_enabled|bool %}
security.protocol=SSL
ssl.keystore.location={{schema_registry_keystore_path}}
ssl.keystore.password={{schema_registry_keystore_storepass}}
ssl.key.password={{schema_registry_keystore_keypass}}
{% if schema_registry_ssl_mutual_auth_enabled|bool %}
ssl.truststore.location={{schema_registry_truststore_path}}
ssl.truststore.password={{schema_registry_truststore_storepass}}
ssl.client.auth=false
#Set to true if you wish to force Client SSL Authentication
{% endif %}
{% endif %}

# Kafka Broker Configuration
kafkastore.bootstrap.servers={{ connection_string(groups['kafka_broker'], kafka_broker_listeners[schema_registry_kafka_listener_name]['port']) }}

kafkastore.security.protocol={{kafka_broker_listeners[schema_registry_kafka_listener_name] | kafka_protocol_defaults(sasl_protocol, ssl_enabled) }}
{% if kafka_broker_listeners[schema_registry_kafka_listener_name]['ssl_enabled'] | default(ssl_enabled) | bool %}
kafkastore.ssl.truststore.location={{schema_registry_truststore_path}}
kafkastore.ssl.truststore.password={{schema_registry_truststore_storepass}}
{% if kafka_broker_listeners[schema_registry_kafka_listener_name]['ssl_mutual_auth_enabled'] | default(ssl_mutual_auth_enabled) | bool %}
kafkastore.ssl.keystore.location={{schema_registry_keystore_path}}
kafkastore.ssl.keystore.password={{schema_registry_keystore_storepass}}
kafkastore.ssl.key.password={{schema_registry_keystore_keypass}}
{% endif %}
{% endif %}
{% if kafka_broker_listeners[schema_registry_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'PLAIN' %}
kafkastore.sasl.mechanism=PLAIN
kafkastore.sasl.jaas.config={{ sasl_plain_user(sasl_plain_users.schema_registry) }}
{% endif %}
{% if kafka_broker_listeners[schema_registry_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'GSSAPI' %}
kafkastore.sasl.mechanism=GSSAPI
kafkastore.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
kafkastore.sasl.jaas.config={{ sasl_krb5(kerberos.keytab_dir, schema_registry_kerberos_keytab_path, schema_registry_kerberos_principal) }}
{% endif %}
{% if kafka_broker_listeners[schema_registry_kafka_listener_name]['sasl_protocol'] | default(sasl_protocol) | normalize_sasl_protocol == 'SCRAM-SHA-256' %}
kafkastore.sasl.mechanism=SCRAM-SHA-256
kafkastore.sasl.jaas.config={{ sasl_scram_user(sasl_scram_users.schema_registry) }}
{% endif %}
